In [12]:
# import required libraries
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
import pandas as pd
import os
import imblearn
from imblearn.over_sampling import SMOTE
import joblib
import numpy as np

In [20]:
# load stroke positive data subset
stroke_subset = pd.read_csv("data/combined_subsets.csv")
stroke_subset

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,9046,1,67.0,0,1,1,0,0,228.69,36.6,1,1
1,31112,1,80.0,0,1,1,0,1,105.92,32.5,0,1
2,60182,0,49.0,0,0,1,0,0,171.23,34.4,2,1
3,1665,0,79.0,1,0,1,1,1,174.12,24.0,0,1
4,56669,1,81.0,0,0,1,0,0,186.21,29.0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
29067,56196,0,10.0,0,0,0,2,0,58.64,20.4,0,0
29068,5450,0,56.0,0,0,1,3,0,213.61,55.4,1,0
29069,28375,0,82.0,1,0,1,0,0,91.94,28.9,1,0
29070,27973,1,40.0,0,0,1,0,0,99.16,33.2,0,0
29071,36271,0,82.0,0,0,1,0,0,79.48,20.6,0,0

In [3]:
stroke_subset.shape

(29072, 12)

In [4]:
# target
target = stroke_subset["stroke"]
target_names = ["no", "yes"]

# features
stroke_data = stroke_subset.drop(["stroke","id"], axis=1)
feature_names = stroke_data.columns

stroke_data.head()

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,67.0,0,1,1,0,0,228.69,36.6,1
1,1,80.0,0,1,1,0,1,105.92,32.5,0
2,0,49.0,0,0,1,0,0,171.23,34.4,2
3,0,79.0,1,0,1,1,1,174.12,24.0,0
4,1,81.0,0,0,1,0,0,186.21,29.0,1

In [5]:
sm = SMOTE()
stroke_data, target = sm.fit_resample(stroke_data,target)

In [6]:
model_RF = joblib.load('RF_model.sav')
result_RF = model_RF.predict(stroke_data)
print(classification_report(target, predictions,
                            target_names=["No Stroke", "Stroke"]))

NameError: name 'predictions' is not defined

In [7]:
from sklearn.metrics import classification_report

predictions = model_RF.predict(stroke_data)

print(classification_report(target, predictions,
                            target_names=["No Stroke", "Stroke"]))

              precision    recall  f1-score   support

   No Stroke       0.99      0.99      0.99     28524
      Stroke       0.99      0.99      0.99     28524

    accuracy                           0.99     57048
   macro avg       0.99      0.99      0.99     57048
weighted avg       0.99      0.99      0.99     57048

In [17]:
test = [1,67,0,1,1,0,0,228.7,36.6,1]

test_ar = np.array(test)
test_ar = test_ar.reshape(1,-1)

In [19]:
predictions = model_RF.predict(test_ar)
predictions

array([1], dtype=int64)